.App {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

header{
  background-color: var(--header-color);    
  font-weight: 700;
  padding: 6px 22px;
  font-size: 18px;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  cursor: pointer;
  user-select: none;
}

.row:hover {
  opacity: 0.9;
}

.row:active span {
  color: var(--gray);
  ;
}

.row:active img {
  filter: brightness(50%);
}

.row img {
  max-height: 100px;
  margin: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  font-size: 18px;
}

/* Pagination */

.pagination-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
}

.pagination {
  padding: 10px 25px;
}

.pagination button {
  border: none;
  background: transparent;
}

.pagination button:not(.active) {
  color: var(--blue);
  cursor: pointer;
}

.pagination button.btn {
  border: 1px solid var(--border-gray);
  color: var(--black);
  border-radius: 5px;
  padding: 4px 7px;
  margin: 0 2px;
  font-size: 10px;
}

.pagination span {
  user-select: none;
  margin: 0 5px;
  color: var(--blue);
}